.baner {
    background-color: $bg-color-fourth;
    background-image: url(../img/banerbg.svg);
    background-repeat: no-repeat;
    background-position: 0 -20px;
    text-align: center;

    &__title {
        padding-top: 27px;
        font-size: 50px;
        font-weight: 700;
    }

    &__text {
        margin-top: 16px;
        font-size: 18px;
        color: $font-color-secondary;
    }

    &__subscribe {
        margin-top: 48px;
        padding-bottom: 112px;
    }
}