.choose {
    margin-top: 150px;

    &__container {
        margin: 0 auto;
        text-align: center;
        width: $container-width;
        max-width: $container-width-max;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width:768px) {
            width: 100%;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 98%;
        margin-top: 25px;
        justify-items: center;

        @media screen and (max-width:410px) {
            grid-template-columns:  1fr 1fr;
            justify-items: center;
            gap: 8px;
        }

        @media screen and (max-width:315px) {
           display: flex;
           flex-direction: column;
        }
    }

    &__title {

        @media screen and (max-width:410px) {
            width: 90%;
        }

        &--subsecondary {
            font-size: 20px;
            color: $font-color-fifth;
            margin: 10px 0;

            @media screen and (max-width:410px) {
                width: 90%;
            }
        }
    }

    &__box {
        margin: 25px 5px;

        &--hidden {
            @media screen and (max-width:768px) {
                display: none;
            }
        }

        @media screen and (max-width:768px) {
            @include adaptiv-margin-box(25, 0);
        }

        @media screen and (max-width:615px) {
            margin: 8px auto;
        }

        @media screen and (max-width:610px) {
            @include adaptiv-margin-boxs(65, 10);
        }

        @media screen and (max-width:430px) {
            margin: 8px auto;
        }
    }

    &__button {
        margin: 25px 0 150px;

        @media screen and (max-width:768px) {
            margin: 25px 0 110px;
        }
    }
}

.box {

    &__choose-icon {
        width: 60px;
        height: 51px;
    }

    &__choose-text {
        margin-top: -60px;
        font-weight: 600;
    }
}