.choose-container {
    margin-top: 50px;
    background-image: url(../img/choose_Vector.svg);
    background-repeat: no-repeat;
    background-position: 1379px 0;
}

.choose {
    margin: 0 auto;
    text-align: center;
    width: $container-width;
    max-width: $container-width-max;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 100%;
        margin-top: 25px;
    }

    &__title {

        &--subsecondary {
            color: $font-color-fifth;
            margin-top: 10px;
        }
    }

    &__box {
        margin: 25px 5px;
    }

    &__icon {
        width: 60.63px;
        height: 51px;
    }

    &__text {
        margin-top: -4em;
        line-height: 1.2em;
        font-weight: 600;
    }
}