.header {
    margin: 0 auto;
    width: 80%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    &__logo {
        width: 283.16px;
        height: 63px;
    }

    &__nav {
        width: 461px;
    }

    &__func {
        width: 312px;
    }
}

.nav {
    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    &__link {
        color: $font-color-main;
        text-decoration: none; 

        &:hover {
            color: $font-color-hover;
        }
    }
}

.func {
    display: flex;
    justify-content: space-between;

    &__phone {
        width: 190px;
        height: 40px;
    }
}

.phone {
    background-color: $bg-color-secondary;
    border: 2px solid $color-border-main;
    border-radius: 0.5em;
    display: flex;
    align-items: center;

    &__contant {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__vl {
        height: 25px;
        border-left: 2px solid $color-border-main;
        border-radius: 2px;
    }

    &__link {
        padding-right: 0.5em;
        color: $font-color-main;
        text-decoration: none; 

        &:hover {
            color: $font-color-hover;
        }
    }
}