.header {

    &--background {
        background-image: url(../img/patterns.svg);
        background-size: 99% 100%;
        background-position: 15px -10px;
        background-repeat: no-repeat;
    }
}

.header-top-container {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    background-color: $bg-color;
    z-index: 9999;
}

.header-top {
    margin: 0 auto;
    width: $container-width;
    max-width: $container-width-max;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    &__logo {
        width: 283px;
        height: 63px;
    }

    &__nav {
        width: 460px;
        margin: 0 5px;
    }

    &__func {
        width: 312px;
    }
}

.nav {
    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    &__link {
        color: $font-color-main;
        text-decoration: none; 

        &:hover {
            color: $font-color-hover;
        }
    }
}

.func {
    display: flex;
    justify-content: space-between;

    &__phone {
        width: 190px;
        height: 40px;
    }
}

.phone {
    margin-right: 5px;
    background-color: $bg-color-secondary;
    border: 2px solid $color-border-main;
    border-radius: 8px;
    display: flex;
    align-items: center;

    &__contant {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__vl {
        height: 25px;
        margin-left: 5px;
        border-left: 2px solid $color-border-main;
        border-radius: 2px;
    }

    &__link {
        margin-left: 5px;
        padding-right: 0.5em;
        color: $font-color-main;
        text-decoration: none; 

        &:hover {
            color: $font-color-hover;
        }
    }
}