.header-bottom {
    padding: 168px 0 88px;

    &--mobile {
        @media screen and (max-width:768px) {
            padding: 134px 0 54px;
        }
    }

    &__container {
        width: $container-width;
        max-width: $container-width-max;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &--mobile {
            @media screen and (max-width:768px) {
                flex-direction: column;
                width: 100%;
            }
        }
    }

    &__img {
        background-image: url(../img/Group.svg);
        background-repeat: no-repeat;
        width: 613px;
        height: 340px;
        
        &--mobile {
            @media screen and (max-width:768px) {
                display: block;
                transform: scale(0.97);
                margin: 30px auto 0;
                width: $container-width;
                height: 27vh;
                background-size: 100% 100%;
            }
        }
    }
}

.registration {
    width: 420px;

    &__title {

        &--submain {
        margin-top: 16px;

        }

        &--mobile {
            @media screen and (max-width:768px) {
                font-size: 38px;
                margin: 0 5px 0;
            }
        }
    }

    &__text {
        margin-top: 24px;
        font-size: 18px;
        color: $font-color-secondary;
        line-height: 24px;
    }

    &__button {
        margin-top: 48px;
    }

    &--smallerdesk {
        @media screen and (max-width:768px) {
            margin: 0 auto;
            width: 80%;
            align-items: center;
            text-align: center;
        }
    }

    &--mobile {
        @media screen and (max-width:530px) {
            width: $container-width;
            align-items: baseline;
            text-align: start;
        }
    }
}