* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: $font-family-main;
    background-color: $bg-color;
    color: $font-color-main;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    margin-top: -12em;
    padding-top: 285px;
    background-image: url(../img/patterns.svg);
    background-size: 99% 100%;
    background-position: right;
    background-repeat: no-repeat;
    height: 87vh;
}

.main {
    width: $container-width;
    max-width: $container-width-max;
    height: 340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__registration {
        width: 411px;
        height: 308px;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__img {
        width: 613px;
        height: 340px;
    }
}

.registration {
    
    &__contant {
        height: 212px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {

        &--submain {
        margin-bottom: 0.5em;
        }
    }

    &__text {
        font-size: 18px;
        color: $font-color-secondary;
        line-height: 24px;
    }
}