.pricing {
    background-image: url(../img/pricing_bg.svg);
    background-repeat: no-repeat;
    background-size: 97.5% 100%;
    background-position: left bottom;
    color: $font-color-main;

    &__container {
        width: $container-width;
        height: 100%;
        max-width: $container-width-max;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width:790px) {
            width: 100%;
        }
    }
    
    &__plan {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        margin-top: 45px;
    }
}

.plan {
    &__box {
        margin: 35px 5px 0;
    }

    @media screen and (max-width:1200px) {
        width: 90%;
        display: flex;
        justify-content: space-around;
    }

    @media screen and (max-width:992px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.box {
    
    &--smallerdesk {
        @media screen and (max-width:1200px) {
            display: none;
        }
    }

    &__plan-content {
        margin-top: 85px;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width:770px) {
            transform: scale(0.9);
        }

        @media screen and (max-width:740px) {
            transform: scale(0.8);
            margin-top: 50px;
        }

        
        @media screen and (max-width:586px) {
            margin-top: 85px;
            transform: scale(1);
        }
    }

    &__plan-price {
        font-size: 50px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 1px;

        &::before {
            content: "£";
            padding-right: 9px;
            font-family: Nunito Sans;
            font-size: 40px;
            font-weight: 400;
            line-height: 55px;
        }
    }

    &__plan-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
    }

    &__plan-text {
        color: $font-color-secondary;
        margin-bottom: 5px;
    }

    &__plan-link {
        text-decoration: none;
        color: $font-color-main;
        font-weight: 600;
        margin-bottom: 15px;
    }
}