.reviews {
    &__container {
        background-image: url(../img/reviewbg.svg);
        background-repeat: no-repeat;
        background-position: 35px 74px;
    }

    &__cards {
        width: $container-width;
        max-width: $container-width-max;
        margin: 0 auto;
        padding-top: 129px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:770px) {
            width: 100%;
        }
        
        @media screen and (max-width:586px) {
            width: $container-width;
        }
    }

    &__slider {
        margin: 50px auto 0;
        padding-bottom: 150px;

        @media screen and (max-width:768px) {
            padding-bottom: 110px;
        }
    }
}

.cards {

    &__box {
        position: relative;
        margin: 50px 5px 0;

        &--smallerdesk {
            @media screen and (max-width:1200px) {
                display: none;
            }
        }

        &--mobile {
            @media screen and (max-width:590px) {
                display: none;
            }
        }
    }

    @media screen and (max-width:1200px) {
        width: 90%;
        display: flex;
        justify-content: space-around;
    }

    @media screen and (max-width:992px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.box {

    &__cards-content {
        padding: 0 24px;
    }

    &__cards-image {
        position: absolute;
        left: 24px;
        top: -34px;
    }

    &__cards-text {
        margin-top: 52px;
        line-height: 24px;
        color: $font-color-secondary;
    }

    &__cards-name {
        position: absolute;
        top: 124px;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
    }

    &__cards-profession {
        position: absolute;
        top: 148px;
        font-size: 14px;
        line-height: 20px;
        color: $font-color-secondary;
    }

    &__cards-button {
        position: absolute;
        top: 200px;
    }
}