.subscribe {
    width: 542px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &--mobile {
        @media screen and (max-width:588px) {
            display: flex;
            flex-direction: column;
            width: 90%;
        }
    }

    &__email {
        width: 386px;
        height: 40px;
        background-color: $bg-color-secondary;
        box-shadow: 0px 4px 10px #C3E0FA;
        border-radius: 6px;

        &--mobile {
            @media screen and (max-width:588px) {
                width: 100%;
            }
        }
    }

    &__button {

        &--mobile {
            @media screen and (max-width:588px) {
                margin-top: 25px;
                width: 100%;
            }
        }
    }
}

.email {
    display: flex;

    &__image {
        width: 20px;
        height: 13px;
        margin: 15px;
    }

    &__input {
        width: 80%;
        height: 40px;
        border: none;
        outline:none;
        color: $font-color-secondary;
    }
}