* {
    margin: 0;
    padding: 0;
}
.header-type {
    background-color: rgb(165,42,42);
}
.header-content {
    padding-top: 2px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 62px;
    text-align: center;
    color: white;
}
.content {
    margin-top: 42px;
}
.sunset {
    height: 430px;
    width: 100%;
}
.text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 35px;
}
.link {
    text-decoration: none;
}
.cars {
    text-align: center;
    padding-left: 73px;
}
.car-style {
    width: 145px;
    height: 95px;
    border: 5px dashed black;
}
.footer-type {
    margin-top: 75px;
    margin-bottom: 60px;
    background-color: black;
    text-align: center;
}
.footer-content {
    color: white;
    font-weight: bolder;
    font-size: 40px;
}
