// fonts
$font-main: "Raleway", sans-serif;
$font-logo: "Pacifico", cursive;

// colors
$font-color-main: #262626;
$font-color-secondary: #fff;
$font-color-footer: #b9b9b9;

// background

$background-color-header: #f9f8fb;
$background-color-border: #ff6033;
$background-color-about: #00bdbd;
$background-color-services: #70bfff;
$background-color-galery: #ffe92f;
$background-color-blog: #b07cf7;
$background-color-contact-input: #00c4c4;
$background-color-footer: #262626;

// buttons

$background-color-service-btn: #fff;
$background-color-galery-btn: #5585a2;
$background-color-blog-btn: #f72b3b;
$background-color-subscribe-btn: #96b92c;
$background-color-contact-btn: #00c4c4;

// resolution
$container-width: 80%;
$container-width-secondary: 95%;
$container-width-max: 1200px;
$fresh-width-max: 400px;
$about-width-max: 570px;
$galery-text-width-max: 600px;