.header {
    background-color: $background-color-header;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {

    @media screen and (max-width:849px) {
        position: fixed;
        background-color: $background-color-header;
        width: 100%;
        z-index: 999;
    }

    &__container {
        width: $container-width;
        max-width: $container-width-max;
        @include adaptiv-height(150, 80);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {

    &__text {
        @include adaptiv-font(50, 30);
        font-family: $font-logo;
        font-style: italic;
    }
}

.nav {
    @media screen and (max-width:849px) {
        display: none;
    }

    &__list {
        display: flex;
        @include adaptiv-gap-column(30, 20);
        text-transform: uppercase;
    }

    &__item {
        border-top: 3px solid transparent;
        padding-top: 0.3rem;
        
        &:hover {
            border-top: 3px solid $background-color-border;
        }
    }

    &__link {
        @include adaptiv-font(16, 13);
        font-weight: 700;
    }
}

// Burger start

.burger {

    &__input {
        display: none;
    }
}

.fake-burger {
    display: none;

    @media screen and (max-width:849px) {
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: $font-color-main;
        margin: 0 5px 0 30px;
        position: relative;
        opacity: 1;
        transition: 0.5s;
        margin-bottom: 4px;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $font-color-main;
            opacity: 1;
            top: 10px;
            transition: 0.5s;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $font-color-main;
            opacity: 1;
            bottom: 10px;
            transition: 0.5s;
        }
    }
}

.burger {
    &__input {
        display: none;

        &:checked + .fake-burger {
            @media screen and (max-width:849px) {
                transform: rotate(45deg);
                transition: 0.5s;
            }
        }

        &:checked + .fake-burger::before {
            @media screen and (max-width:849px) {
                transform: rotate(-90deg);
                top: 0;
                transition: 0.5s;
            }
        }

        &:checked + .fake-burger::after {
            @media screen and (max-width:849px) {
                transform: scale(0);
                transition: 0.5s;
            }
        }
    }
}

// Burger end

.header-bottom {
    display: flex;

    &__container {
        width: $container-width;
        max-width: $container-width-max;
        margin: 0 auto;
        @include adaptiv-padding-top(150, 80);
    }

    &__fresh {
        @include adaptiv-padding-top(300, 50);
        @include adaptiv-padding-bottom(290, 140);
        max-width: $fresh-width-max;
    }
}

.fresh {

    &__title {
        @include adaptiv-padding-bottom(20, 10);
        @include adaptiv-font(60, 36);
        font-weight: 900;
    }

    &__text {
        padding-bottom: 1rem;
        @include adaptiv-font(17, 15);
        line-height: 1.5;
        font-weight: 500;
    }
}