* {
    --font-main:"Raleway", sans-serif;
    --font-logo: "Pacifico", cursive;
    --font-content: 'Open Sans', sans-serif;
    --color-main: #ff6033;
    --font-color-main: #262626;
    --font-color-secondary: #ffffff;
    --color-background-main: #f9f8fb;
    --color-background-secondary: #00bdbd;
}