$font-family-main: 'Open Sans', sans-serif;
$bg-color: #f8fafc;
$bg-color-phone: #fff;
$color-border-main: #f1f2f4;
$color-border-secondary: #fcc540;
$font-color-main: #0B1940;
$font-color-secondary: #4C5673;
$font-color-third: #fff;
$font-color-hover: #0576B8;