// fonts
$font-family-main: "Lato", sans-serif;

// colors
$font-color-main: #fff;
$font-color-secondary: #3c3c3c;

// bg
$background-color-main: #3c3c3c;
$background-color-secondary: #fff;

// resolution
$container-width: 95%;
$container-width-max: 900px;
$content-width-max: 530px;
$text-width: 550px;